.users-crud-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 16px 0;
}

.users-crud-content-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.users-bar-header {
  gap: 8px;
  font-size: 14px;
  color: var(--text);
}

.users-bar-header button {
  padding: 4px 8px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  background: var(--border);
  color: #fff;
  cursor: pointer;
}

.users-bar-header button:hover {
  background: var(--social-bg);
}

.login-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 16px 0;
}

.login-info button {
  padding: 4px 8px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  background: var(--border);
  color: #fff;
  cursor: pointer;
}

.login-info button:hover {
  background: var(--social-bg);
}

.login-form {
  width: 30%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 5vh auto;
}

.login-form input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid var(--border);
  border-radius: 4px;
}

.login-form button {
  padding: 8px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background: var(--border);
  color: #fff;
  cursor: pointer;
}

.login-form button:hover {
  background: var(--social-bg);
}

.crud-form {
  width: 30%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 5vh auto;
}

.crud-form input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid var(--border);
  border-radius: 4px;
}

.crud-form button {
  padding: 8px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background: var(--border);
  color: #fff;
  cursor: pointer;
}

.crud-form button:hover {
  background: var(--social-bg);
}

.crud-form select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid var(--border);
  border-radius: 4px;
}

.users-crud-content-users-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.users-list li {
  background: #1e1e2f;
  color: #ffffff;
  padding: 12px 16px;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition:
    transform 0.15s ease,
    box-shadow 0.15s ease;
}

.users-list li:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.users-list {
  counter-reset: users-counter;
}

.users-list li::before {
  counter-increment: users-counter;
  content: counter(users-counter);
  color: white;
  font-weight: bold;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}
